<!DOCTYPE html>
  <html>
    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <style>
        body {
            background-color: #f9f1c0;
        }
    </style>
    </head>

    <body>
        <nav>
            <div class="nav-wrapper">
              <a href="#!" class="brand-logo"><img src="https://scontent.fmnl13-2.fna.fbcdn.net/v/t1.0-9/123044090_108415017737041_8282619126552986466_o.png?_nc_cat=109&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeFGq4Gks8zJnr5t4JA7T7x4HNFy6-vZhREc0XLr69mFEfogcQkxdbogYPBrJeyx_SY0bL2O53eU8G-vIDNg0pcD&_nc_ohc=ZhgFC8lCLZsAX8ppxBF&_nc_ht=scontent.fmnl13-2.fna&oh=9b1e3ca17c0b93dbe6d00cc3d629e49e&oe=6046761A"  width="70" height="70"></a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="home">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact Us</a></li>
              </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact Us</a></li>
        </ul>

        <div class="row">
            <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                <input placeholder="" id="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
            </div>
             <div class="row">
                <div class="input-field col s6">
                <input placeholder="" id="last_name" type="text" class="validate">
                <label for="last_name">Last Name</label>
            </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                <textarea value="" id="message" type="text" class="materialize-textarea"></textarea>
                <label for="message">Message</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
            <!-- <div class="row">
                <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
                </div>
            </div> -->
            </form>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.sidenav').sidenav();
            });
        </script>
    </body>
  </html>

  <js