<!DOCTYPE html>
  <html>
    <%- include('./partials/header') %>

    <body style="background-color: #f9f1c0;">
        <nav>
            <div class="nav-wrapper">
              <a href="#!" class="brand-logo"><img src="https://scontent.fmnl13-2.fna.fbcdn.net/v/t1.0-9/123044090_108415017737041_8282619126552986466_o.png?_nc_cat=109&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeFGq4Gks8zJnr5t4JA7T7x4HNFy6-vZhREc0XLr69mFEfogcQkxdbogYPBrJeyx_SY0bL2O53eU8G-vIDNg0pcD&_nc_ohc=ZhgFC8lCLZsAX8ppxBF&_nc_ht=scontent.fmnl13-2.fna&oh=9b1e3ca17c0b93dbe6d00cc3d629e49e&oe=6046761A"  width="65" height="65"></a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="other">Other</a></li>
              </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="/">Home</a></li>
            <li><a href="other">Other</a></li>
        </ul>
         
        <div class="row">
          <div class="col s1"></div>
          <div class="col s10">
          <img src="<%= body[0]['url'] %>" width="body[0]['width']" height="body[0]['height']">
          <% console.log(body[0]['width']) %>
          </div>
        </div>

        <%- include('./partials/footer') %>
    </body>
  </html>

  <js